@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5%);
    border: 1px solid darken($gris, 10%);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
        text-align: center;
    }

    h3, p {
        margin: 0;
    }

}

.precio {
    font-weight: $bold;
    color: $verde;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;
    max-width: 40rem;

    li {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}