.contenido-nosotros {
  @include tablet {
    @include grid(2, 2rem);
  }
}

.texto-nosotros blockquote {
  font-size: 2.2rem;
  font-weight: $black;
  padding: 1rem 0 3rem 0;
  margin: 3rem 0 0 0;
}
